extend ../layouts/default.layout.jade

block content
  div.row
    article#comments
  br
  hr
  div.row
    article#products

append scripts
  script(src="/js/components/CommentBox.js")
  script(src="/js/components/ProductSearch.js")